div {
  background: url("https://placeholdit.imgix.net/~text?txtsize=100&bg=000099&txtclr=ffffff&txt=Hello&w=600&h=600") 0 0 no-repeat;
  background-size: auto 75%;
  border: 2px dashed #9799a7;
  height: 240px;
  width: 200px;
}